@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="carousel">
        <img src="~/img/aboutBg.png" alt="Chania" width="100%" />
    </div>
</div>
<div class="row justify">
    <div class="col-md-3" style="margin-left: 3%;">
        <div class="card">
            <h2>Us</h2>
            <p>ExpressIt is a social network created by two system engineers, in order to bring a different concept for people to interact with one another an inside this kind of social platforms.</p>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <div class="card">
            <h2>Our goal</h2>
            <p>The objective behind ExpressIt is to serve as inspiration for other developers to keep creating programs around these topics. Also providing people of a different way to interact.</p>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <div class="card">
            <h2>Our people</h2>
            <p>ExpressIt is created by people from Dominican Republic. Get to know our team better and coolaborate with us developing more features for this social network; your social network. 
            @Html.ActionLink("More", "Developers", "Home", routeValues: null, htmlAttributes: new {})
            </p>
        </div>
    </div>
</div>