
@{
    ViewBag.Title = "Developers";
}

<div class="row">
    <h1 class="pageTitle">
        Our Developers
    </h1>
</div>
<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <div class="card">
            <img style="border-radius:100px; float: left; margin-right: 25px;" width="12%;" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAaPAAAAJDYyNjViZTI5LWUxMDktNDUzMS04MWRkLTU5OWU5MjQ5ZDc2NQ.jpg" />
            <p> <strong>Mabel Gerónimo.</strong> I'm from Dominican Republic, and I define myself as a technology geek. I'm in love of this project because it opens the door for other uses of this innovative technology. <em>Want to join us?</em> </p>
        </div>
        <div class="card">
            <img style="border-radius:100px; float: left; margin-right: 25px;" width="12%;" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/09a/01e/0564945.jpg"/>
            <p> <strong>Harold Lockward.</strong> I'm from Dominican Republic, and I define myself as a person passionate about technology. I first started this project in order to bring something different to the public.</p>
        </div>
    </div>
</div>

