@{
    ViewBag.Title = "Home Page";
}

<div class="sidebar col-md-2">
    <!-- Grey profile panel -->
    <ul>
        <li>
            <img id="mainUserProfilePic" src="http://1.bp.blogspot.com/-ug9e-r9m6W8/VmcJ-EBJc1I/AAAAAAAAAz4/eMbglOjtN5Y/s1600/rostro%2Bbrillante%2Blibre%2Bde%2Bgrasas.jpg" />
        </li>
        <li class="divider" />
        <li>
            <label>Nombre:</label>
            <p>Wanda Jimenez</p>
        </li>
        <li class="divider" />
        <li>
            <label>Trabajo:</label>
            <p>Cartier</p>
        </li>
        <li class="divider" />
        <li>
            <label>Pais:</label>
            <p>Republica Dominicana</p>
        </li>
        <li class="divider" />
    </ul>

</div>
<div class="sidebar col-md-10">
</div>
